<div class="pl-6 pr-6  ">
  <h2 class="text-2xl font-young text-brown-800 leading-tight mt-4 mb-6">Nutrition</h2>

  <table class="w-full">
    <tr class="border-b border-gray-200">
      <td class="pl-8 py-3 text-stone-600/90 font-semibold">Calories</td>
      <td class="text-brown-800 font-bold">277kcal</td>
    </tr>
    <tr class="border-b border-gray-200">
      <td class="pl-8 py-3 text-stone-600/90 font-semibold">Carbs</td>
      <td class="text-brown-800 font-bold">10g</td>
    </tr>
    <tr class="border-b border-gray-200">
      <td class="pl-8 py-3 text-stone-600/90 font-semibold">Protein</td>
      <td class="text-brown-800 font-bold">20g</td>
    </tr>
    <tr class="">
      <td class="pl-8 py-3 text-stone-600/90 font-semibold">Fat</td>
      <td class="text-brown-800 font-bold">50g</td>
    </tr>
  </table>



</div>